<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico" type="image/x-icon">
  <link rel="stylesheet" href="../Assets/css/cold/index.css">
  <link rel="stylesheet" href="../Assets/css/login.css">
</head>
<body>
  <div class="cold-page">
    <header class="cold-page__header">
      <span>Gulp Start Tutorial</span>
    </header>
    <section class="cold-page__body">
      <div class="login-container">
        <div class="login-container__header">
          <span>登录</span>
        </div>
        <div class="login-container__content">
          <div class="cold-alert login-container__alert">该页面正在开发中</div>
          <div class="cold-alert  login-container__alert cold-alert--error">请稍后再拨!</div>
        </div>
      </div>
    </section>
    <footer class="cold-page__footer">
      <span>page-footer</span>
    </footer>
  </div>
</body>
</html>
